*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 400px;
}

.steps{
    display: flex;
    position: relative;
    width: 100%;
    height: 500px;
}

.step{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid rgb(196, 200, 205);
    position: relative;
    top: 250px;
    left: 40%;
    text-align: center;
    transition: .7s ease;
}

.line{
    width: 40px;
    height: 5px;
    background-color: rgb(196, 200, 205);
    position: relative;
    top: 260px;
    left: 40%;
    transition: .7s ease;
}

.buttons {
    position: relative;
    bottom: 20%;
    left: 40%;

}

.prev, .next{
    cursor: pointer;
    width: 75px;
    height: 30px;
    margin-left: 30px;
    margin-right: -20px;
    background-color: rgb(196, 200, 205);
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    transition: .7s ease;
}

.active{
    background-color: rgb(37, 123, 204) ;
}

.bordercolor{
    border-color: rgb(37, 123, 204);;
}
